<% content_for :top_buttons do %>
  <%= link_to material_icon.reply, backend_posts_path, data: { toggle: 'tooltip' }, title: 'Wróć', class: 'btn btn-default btn-xs'  %> 
<% end %> 
<div class="col-md-12">
  <%= render 'form' %>
</div>

