<section id="slider-station">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider-station slider">
          <% track.try(:stops).try(:each) do |stop| %>
            <div>
              <div class="wraper">
                <div class="left">
                  <%= set_pin(stop) %> 
                </div>
                <div class="right">
                  <%= set_address(stop) %> 
                  <hr>
                  <%= stop_working_hours(stop) %> 
                </div>
                <hr>
                <p><i> <%= stop.catchphrase %> </i></p>
              </div>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</section>
