<section id="galeria">
  <div class="container">
    <div class="row">
      <div class='col-md-12'>
        <% @galeria_page.pageAdds.each do |add| %> 
          <%= add.body.html_safe unless add.body.blank? %> 
        <% end %>
      </div>
      <%# <% @popular.each do |popular| %1> %>
      <%#   <div class="col-sm-12 col-md-3"> %>
      <%#     <div class="thumbnail"> %>
      <%#       <%= image_tag popular.images.low_resolution.url %1> %>
      <%#       <1%# <div class="caption"> %1> %>
      <%#         <1%#     <%= popular.user.username %2> %1> %>
      <%#         <1%#   </div> %1> %>
      <%#     </div> %>
      <%#   </div> %>
      <%# <% end %1> %>
    </div>
  </div>
</section>
