<% @galeria_page.pageAdds.each do |add| %> 
  <%= add.body.html_safe unless add.body.blank? %> 
<% end %>

<section id="galeria">
  <div class="container">
    <div class="row">
      <% @popular.each do |popular| %>
        <div class="col-sm-12 col-md-3">
          <div class="thumbnail">
            <%= image_tag popular.images.low_resolution.url %>
            <%# <div class="caption"> %>
            <%#     <%= popular.user.username %1> %>
            <%#   </div> %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
