<section id="galeria">
  <div class="container">
    <div class="row">
      <div class='col-md-12'>
        <% @galeria_page.pageAdds.each do |add| %> 
          <%= add.body.html_safe unless add.body.blank? %> 
        <% end %>
      </div>
      <p><!-- LightWidget WIDGET -->
      <script src="//lightwidget.com/widgets/lightwidget.js"></script>
      <iframe allowtransparency="true" class="lightwidget-widget" scrolling="no" src="//lightwidget.com/widgets/838df1e7c3335170a7217cdd561ccae8.html" style="width: 100%; border: 0; overflow: hidden;"></iframe>
      </p>
    </div>
  </div>
</section>
