<div>
  <div class="col-md-15 col-sm-3 col-xs-6">
    <div class="thumbnail">
      <div class="image-class" style="background: url( <%= image.image_url %> )" ></div>
      <div class="caption">
        <p> <%= image.image_title %>
      <%= link_to fa_icon('trash-o'), backend_image_path(image.id), method: :delete, data: {confirm: 'Jesteś pewien?'}, class: 'btn btn-default btn-xs pull-right' %> 
        </p>
      </div>
    </div>
  </div>
</div>
