  <div class="col-lg-3 col-md-4 col-xs-12">
    <div class='gallery-image-wrapper'>
      <img class="img-fluid img-thumbnail" src= <%= image.image_url %>  alt= <%= image.image_title %> />
      <div class="cap">
        <p class="text-left"> <%= image.image_title %> </p>
        <%= link_to fa_icon('trash-o'), backend_image_path(image.id), method: :delete, data: {confirm: 'Jesteś pewien?'}, class: 'btn btn-default btn-xs pull-right' %> 
      </div>
    </div>
  </div>
