<div class="row">
  <% @images.each do |img| %> 
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(img.image_url.to_s), 'http://www.google.com' %> 
        <div class="caption">
          <p> <%= img.image_title %> </p>
          <%= link_to fa_icon('trash-o'), backend_image_path(img), method: :delete, data: {confirm: 'Jesteś pewien?'}, class: 'btn btn-default btn-xs' %> 
        </div>
      </div>
    </div>
  <% end %> 
  <%= link_to 'Dodaj', new_backend_image_path, remote: true %> 
</div>
