
<% content_for :top_buttons do %>
  <%= link_to material_icon.add, new_backend_image_path, remote: true, data: {toggle: 'tooltip'}, title: 'Dodaj zdjęcie', class: 'btn btn-default btn-xs'  %> 
<% end %> 

<div class="well">
  <div class="row">
    <% if @images.blank? %> 
      <p class="lead text-center">Brak zdjęć w galerii.</p>
    <% end %> 
    <% @images.each do |img| %> 
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(img.image_url.to_s), 'http://www.google.com' %> 
          <div class="caption">
            <p> <%= img.image_title %>
          <%= link_to fa_icon('trash-o'), backend_image_path(img.id), method: :delete, data: {confirm: 'Jesteś pewien?'}, class: 'btn btn-default btn-xs pull-right' %> 
            </p>
          </div>
        </div>
      </div>
    <% end %> 
  </div>
</div>
