small.text-muted
  i.material-icons
    font-size: 16px
    top: 3px
h5.brak-danych-trasy
  margin-top: 14px

.timeline-stops-wrapper
  ul.timeline
    padding: 30px 30px
    li 
      .timeline-badge
        width: 35px 
        height: 35px 
        font-size: 15px 
        margin-left: -19px 
        top: 25px 
        line-height: 39px
        &.success
          background-color: $glowny !important
      .timeline-panel
        width: 44% 
