.timeline-fposts-wrapper
  ul.timeline
    li
      .timeline-badge
        width: 34px
        height: 34px
        margin-left: -16px
        top: 22px
        @media screen and (max-width: 767px)
          margin-left: 8px

        i.fa-facebook
          position: relative
          top: -2px
          font-size: 28px
      .timeline-panel
        padding: 0
      .timeline-heading
        padding: 15px
        .timeline-title
          letter-spacing: 2px
          font-size: 22px
          margin-bottom: 0px
      .timeline-body
        padding: 0 15px 15px 15px
      .timeline-footer
        background: #f8f8f8
        height: 45px
        padding: 0 10px
        small, .actions-btn-group
          position: relative
          top: 50%
          transform: translateY(-50%)

#fpost_body
  resize: vertical
  
.fpost-body
  margin-bottom: 5px
  text-align: justify
  padding-right: 15px
  line-height: 1.8
  img
    float: left
    margin-right: 20px
  a
    margin-top: 10px

#read-more
  padding-right: 25px
