#image_image-error
  color: #e23c39 !important
  padding-top: 10px
.caption
  a > i
    top: 2px
.bar
  height: 4px
  background: green
  position: relative
  top: 3px
  border-radius: 2px
#new_image
  margin-bottom: 20px
.thumbnail
  .caption > p
    margin-bottom: 0px
  .image-class
    max-width: 197px
    margin: 0 auto
    height: 150px
    background-size: contain !important
    background-repeat: no-repeat !important
    background-position: center !important
div#paintings
  margin: 0px
#image_image
  @media(max-width: 768px)
    color: red
  @media(max-width: 480px)
    color: green
    width: 70%

.gallery-image-wrapper
  border: 1px #ccc solid
  border-radius: 2px !important
  padding: 4px
  .img-thumbnail
    border: none !important
.wrapper 
  height: 200px
.cap
  padding: 5px
  p
    margin: 0px
  a
    position: relative
    top: -20px

.img-thumbnail
  border-radius: 2px !important
