#image_image-error
  color: #e23c39 !important
  padding-top: 10px
.caption
  a > i
    top: 2px
.bar
  height: 4px
  background: green
  position: relative
  top: 3px
  border-radius: 2px
#new_image
  margin-bottom: 20px
.thumbnail
  .caption > p
    margin-bottom: 0px
  
