#post_draft, #publish_on_facebook
  -ms-transform: scale(1.1)
  -moz-transform: scale(1.1)
  -webkit-transform: scale(1.1)
  -o-transform: scale(1.1)
  margin-top: 10px !important
div[id*="mceu"]
  background: white
  button
    color: #333
  .mce-wordcount
    right: 10px
.last-published-posts
  .material-icons
    font-size: 15px
    margin-right: 5px
    top: 3px
  .list-group-item-text
    margin-bottom: 15px
    &:nth-of-type(1)
      padding: 0 20px
    &:last-of-type
      position: relative
      top: -18px
.delete-image
  cursor: pointer
  &:hover
    color: lighten(#333, 50%)
.edit-post-thumb-wrapper
  position: relative
  width: 92%
  margin: 0 auto
  .thumbnail
    .caption
      padding: 5px

#add-from-disk-link
  position: relative
  top: -27px
  text-decoration: none
  &:hover
    color: darken(#337ab7, 20%) 
#post-details-con
#post-bulish-date
  max-width: 125%
#post_excerpt
  resize: vertical
