<div class="modal fade" id="authenticateShowModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="closeAuthenticate close">x</button>
            <%= form_tag backend_settings_path do %> 
              <div class="form-group">
                <%= label_tag 'Podaj hasło' %> 
                <%= password_field_tag :password, nil, class: 'form-control' %> 
                <%= submit_tag "Potwierdź", class: 'btn btn-default btn-sm' %> 
              </div>
            <% end %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

