<div class="kontakt">
  <section id="kontakt">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Masz pytanie? napisz do nas!</h2>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <% @kontakt_page_addon.try(:pageAdds).try(:each) do |add| %> 
            <%= add.body.html_safe unless add.body.blank? %> 
          <% end %>
          <br><br>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <%= render 'form' %> 
        </div>
      </div>
    </div>
  </section>
</div>
