.material-icons
  top: 5px
  position: relative
.alert
  margin-top: 40px
  margin-bottom: 0px
  border-radius: 2px
  
#page-wrapper
  @media screen and (min-width: 768px)
    margin: 0 0 0 200px
.sidebar
  @media screen and (min-width: 768px)
    width: 200px
.btn
  border-radius: 2px
.form-control
  border-radius: 2px 
.page-header-buttons
  position: relative
  bottom: 44px
  margin-right: 30px
  .material-icons
    font-size: 29px

