<div class="modal fade" id="fimageIndexModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="containter">
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" class="closeFImagesIndexModal close">x</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <p>
                        <h4>Wybierz zdjęcie</h4>
                        <%= link_to "#{fa_icon('hdd-o')} Dodaj z dysku".html_safe, backend_images_path, class: 'pull-right', id: 'add-from-disk-link' %> 
                      </p>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <% @images.each do |img| %> 
                          <div class="col-xs-6 col-md-3">
                            <div class="thumbnail">
                              <%= link_to image_tag(img.image_url.to_s), add_image_backend_posts_path(id: params[:id], img_id: img.id), class: 'gallery-image', id: img.id  %> 
                              <div class="caption">
                                <p> <%= img.image_title %> </p>
                              </div>
                            </div>
                          </div>
                        <% end %> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" data-toggle="modal" class="closeFImagesIndexModal btn btn-default">close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
</script>
