<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Polo Pazzo">
    <title>Polo Pazzo Login </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <% if params[:controller] == 'devise_invitable/registrations' && params[:action] == 'edit' %>
                <h2>Edytuj Profil</h2>
              <% else %>
                <h2 class="panel-title">Zaloguj się</h2>
              <% end %> 
            </div>
            <div class="panel-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
